extends ../layouts/default

block vars
  - var section = 'hotels';
  - var klass = 'hotels';


block content
  .page-title
    img(src='/images/titles/hotels.svg')

  .container.marketing

    .row.featurette
      .col-md-7
        h2.featurette-heading
          | After Hotel

        p.hotel-description
          | After Hotel Montevideo has been conceived as the optimum
          | accommodation alternative for visitors coming to Montevideo
          | on business or for pleasure, providing a complete experience
          | that offers an array of services and facilities of the highest
          | caliber.

          p.hotel-description
            span.label.label-primary
              i.fa.fa-usd
              |  USD 80 Single or Double
            |&nbsp;
            span.label.label-primary
              i.fa.fa-usd
              |  USD 95 Superior Single or Double
            |&nbsp;
            span.label.label-success
              | PROMO CODE "JSConfUY"
          p.text-center
            a.book-hotel-btn(href="http://www.afterhotel.com.uy/en/", target="_blank")
              | Book
              strong
                |  After hotel
              br
              small.text-muted
                |  with promo code
                strong
                  |  JSConfUY

      .col-md-5
        .img(style='background-image: url(/images/hotels/after-hotel.jpg)')

    .row.featurette
      .col-md-7.col-md-push-5
        h2.featurette-heading
          | Balmoral

        p.hotel-description
          | Balmoral Plaza Hotel is located in the heart of downtown Montevideo, 
          | at kilometer zero of the capital city, just at five minutes away from 
          | the Port, at 25 minutes from the Aeropuerto Internacional de Carrasco |
          | (Carrasco International Airport) and at 10 minutes away from the Bus Terminal.

        p.hotel-description
          span.label.label-primary
            i.fa.fa-usd
            |  USD 60 Single
          |&nbsp;
          span.label.label-primary
            i.fa.fa-usd
            |  USD 70 Superior
          |&nbsp;
          span.label.label-primary
            i.fa.fa-usd
            |  USD 96 Triple
          |&nbsp;
          span.label.label-primary
            i.fa.fa-usd
            |  USD 75 Double Superior
          |&nbsp;
          span.label.label-success
            | PROMO CODE "JSConfUY"

        p.text-center
          a.book-hotel-btn(
            href="mailto:reservas@balmoral.com?subject=Reservation+with+JSConfUY+code",
            target="_blank"
          )
            | Book
            strong
              |  Balmoral
            br
            small.text-muted
              | with promo code
              strong
                |  JSConfUY

      .col-md-5.col-md-pull-7
        .img(style='background-image: url("/images/hotels/balmoral-hotel.jpg")')

    .row.featurette
      .col-md-7
        h2.featurette-heading
          | Dazzler Montevideo

        p.hotel-description
          | Dazzler Montevideo boasts 249 modern, broad and luminous rooms.
          | They are divided in six categories: Classic, Superior, Junior
          | Suites, Suites, VIP Suites, and Presidential Suites.

        p.hotel-description
          span.label.label-primary
            i.fa.fa-usd
            |  USD 90
          |&nbsp;
          span.label.label-success
            | PROMO CODE "JSConfUY"

        p.text-center
          a.book-hotel-btn(
            href="mailto:reservas@dazzlermontevideo.com?subject=Reservation+with+JSConfUY+code",
            target="_blank"
          )
            | Book
            strong
              |  Dazzler Montevideo
            br
            small.text-muted
              |  with promo code
              strong
                |  JSConfUY

      .col-md-5
        .img(style='background-image: url("/images/hotels/dazzler-hotel.jpg")')

    .row.featurette
      .col-md-7.col-md-push-5
        h2.featurette-heading
          | Orpheo

        p.hotel-description
          | The Orpheo Express Hotel is located in Montevideo´s downtown,
          | with an easy access from the port and the airport.
          | It offers 105 modern rooms, with all the requirements to enjoy
          | your stay. It serves buffet breakfast, has a beautiful café-Bar,
          | a Fitness center, wifi, garage, and an excellent value for money.
          | Orpheo Express Hotel is “Just your world”, located within walking
          | distance from the Independence Square and the Old City, where most
          | of the business, cultural and leisure world are located.

        p.hotel-description
          span.label.label-primary
            i.fa.fa-usd
            |  USD 50 Single or Double
          |&nbsp;
          span.label.label-primary
            i.fa.fa-usd
            |  USD 59 Double Twin
          |&nbsp;
          span.label.label-primary
            i.fa.fa-usd
            |  USD 69 Triple
          |&nbsp;
          span.label.label-success
            | PROMO CODE "JSConfUY"

        p.text-center
          a.book-hotel-btn(
            href="http://www.orpheohotel.com/en/",
            target="_blank"
          )
            | Book
            strong
              |  Orpheo
            br
            small.text-muted
              | with promo code
              strong
                |  JSConfUY

      .col-md-5.col-md-pull-7
        .img(style='background-image: url("/images/hotels/orpheo-hotel.jpg")')
