extends ../layouts/print

block content
  each attendee in attendees
    .attendee
      .logo
        img(src='/images/base/small-logo.svg')
      .info
        .name
          | #{attendee.name || 'N/A'}
        .reference
          | ##{attendee.reference}
      .info
        .email
          |  Email: #{attendee.email || 'N/A'}
      .info
        .tshirt
          |  T-Shirt: #{attendee.tshirt || 'N/A'}
      .info
        .extra
          |  Extra: #{attendee.extra || 'N/A'}
      img.barcode(src='https://www.barcodesinc.com/generator/image.php?code=#{attendee.reference}&style=68&type=C128B&width=250&height=70&xres=1&font=3')
      if order
        .info
          .order
            i.fa.fa-shopping-cart
            |  #{order.reference} 
            i.fa.fa-ticket
            |  #{order.ticket.name} 
            i.fa.fa-calendar
            |  #{order.reserved.toISOString()}
