extends ../layouts/registration

block content
  .container.center-block
    .row
      .col-md-8.col-md-offset-2
        h2
          | Registration
    .row
      .col-md-8.col-md-offset-2
        form(method='get')
          if reference
            .form-group
              input.form-control(autofocus, name='ref', type='text', placeholder='Type #Ref')
            .form-group
              h2
                if status == 200
                  span.label.label-success
                    | Registered
                else if status == 409
                  span.label.label-danger
                    | Already registered
                else if status == 404
                  span.label.label-danger
                    | Ticket not found
            if status == 200 || status == 409
              .form-group
                label Rererence
                  .form-control
                    | #{reference}
              .form-group
                label Name
                .form-control
                  | #{attendee.name || 'N/A'}
              .form-group
                label Email
                .form-control
                  | #{attendee.email || 'N/A'}
              .form-group
                label T-Shirt
                .form-control
                  | #{attendee.tshirt || 'N/A'}
              .form-group
                label Extra
                .form-control
                  | #{attendee.extra || 'N/A'}
              .form-group
                label Registered
                .form-control
                  | #{attendee.registered || 'N/A'}

